
	#text-image{ overflow:hidden;}
		#about-text{ width:650px; float:left; margin:20px 0 0 20px;}
			#about-text p{ color:#4c4c4c; padding:10px 0 10px 20px; line-height:25px; font-size:14px; }
			#about-text p a{ color:#316395; padding:0px; line-height:25px; font-size:14px; text-decoration:none; }
			#about-text p span{ color:#dc6d01;}
		#image{ float:right; margin:20px 10px 10px 10px;}
			#image img{ border:8px solid #ababab;}

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		