/* CSS Document */

#cities{padding:0 !important;}
.mrgn{margin-top:-10px !important;}
#usd{margin:-10px 0 10px 0 !important;}
#destination ul{padding:0 0 0 10px !important;}
#explore-links ul{ padding:0 0 0 18px !important}
#footer-menu-copyright{ padding-top:-5px !important;}
#footer-menu{ margin-top:5px !important; }
#copyright{margin-top:2px !important;}
.add-to-cart td{ padding:0px 6px !important;}
.add-to-cart img{ margin:3px 3px 3px 13px !important;}









