body{ background:#dcd7cd url(../images/body-bg.png) repeat-y; font-family:Arial, Helvetica, sans-serif;}
	
	.debug{ border:1px solid green;}
	.no-border{ background:none !important; }
	.right-border{border:0 !important;}
	.clear{ clear:both;}
	.round-corners{ 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	behavior: url(css/border-radius.htc);
	-moz-box-shadow:0 0 15px #0b0b0b;
   -webkit-box-shadow: 0 0 15px #0b0b0b;
   box-shadow:0 0 15px #0b0b0b;
 	margin:20px 0px; !important;
}

	.round-corners .round-corners { margin:0px; -moz-box-shadow:inset 0 0 15px #0b0b0b !important;
   -webkit-box-shadow:0 0 15px #0b0b0b !important;
   box-shadow:inset 0 0 15px #0b0b0b !important; }

	/*----------------------------------------main-wrapper-------------------------------------------------*/
	#main-wrapper{ width:970px; margin:30px auto; background:url(../images/wrapper-bg.png) repeat;}
		/*---------------------------------wrapper---------------------------------------------*/
		#wrapper{ width:947px; margin:auto;}
			/*--------------------------header---------------------------------*/
			#header{ background:url(../images/header-bg1.png) repeat-x; height:70px; position:relative; top:-20px;}
				#logo{ float:left;}
				/*---------------------------------------------*/
				#menu{ background:url(../images/menu-li-bg.png) repeat-x; height:48px; margin:11px 20px 0 0; border:1px solid #111111; float:right;}
					#menu ul{ list-style:none; color:#FFFFFF; }
			 			#menu li{ float:left; background-image:url(../images/menu-right-border1.png); background-repeat:no-repeat; background-position:right top; padding-top:7px; text-transform:capitalize;}
							.menu li a{text-decoration:none; color:#979797; display:block; padding:10px 45px 20px 15px;font-size:13px; font-weight:bold;}
			 				.menu li#home a{ background:url(../images/home.png) no-repeat 65px 7px; }
							.menu li#about a{ background:url(../images/about.png) no-repeat 65px 5px; }
							.menu li#product a{ background:url(../images/products.png) no-repeat 87px 7px; }
							.menu li#testi a{ background:url(../images/testimonial.png) no-repeat 105px 7px; }
							.menu li#contact a{ background:url(../images/contact.png) no-repeat 80px 9px; }
							.menu li#faq a{ background:url(../images/faq.png) no-repeat 55px 8px; }
								
								#menu li a:hover{ background:url(../images/menu-hover.png) no-repeat center 25px;}
				/*---------------------------------------------*/				
				#banner{ position:relative;}
					.testimonial{ background:url(../images/testimonial-bg.png) no-repeat; height:394px; width:221px; position:absolute; right:10px; bottom:0px; }
						.testimonial h1{ color:#FFFFFF; padding:15px 0 0 15px; font-size:22px;}
						.testi-content{ padding:10px; overflow:hidden; margin-top:25px;}
							.testi-content img{ border:4px solid #cacaca; float:left}
							.text{ float:right; width:138px; }
							.testi-content p{ float:right; color:#FFFFFF; font-size:12px; line-height:16px;}
							.read-more{ float:left;}
							.read-more ul{ margin-top:10px;}
								.read-more li{ display:inline;font-size:13px; border-right:1px solid #707070; padding:0 10px 0 10px;}
									.read-more li a{color:#ffbd2f; text-decoration:none;  }
										.read-more li a:hover{ font-weight:bold; color:#fe7c00;}
										
			/*--------------------------middle---------------------------------*/
			#middle{ overflow:hidden; margin-bottom:20px;}
				/*---------------------------------------------*/
				#products-container{overflow:hidden;margin-top:20px;}
				.products{width:306px; float:left; margin:20px 0;}
						#products-container h1{ background:url(../images/product-heading-bg.png) repeat-x; height:40px; margin-bottom:0;}
							#products-container h1 img{ padding:13px;}
						.pro-content{ background:url(../images/product-bg.png) no-repeat; height:101px;}
							.pro-content img{ float:left;}
							.pro-content p{ float:right; width:210px; font-size:12px; padding:16px 0 0 0; line-height:15px; color:#393939;}
							.img-pad img{ padding:10px 5px 0 0;}
							#product-01{ margin-right:14px;}
							#product-02{ margin-right:14px;}
							#product-03{ margin-right:0}
							
				/*---------------------------------------------*/
				#login-lookup-dist{ background:url(../images/login-lookup-dist-bg.png) repeat; overflow:hidden; margin:20px 0 10px 0;}
					#login-lookup-dist h1{ padding:15px 0 10px 10px; color:#d8d8d8; font-size:17px; text-transform:capitalize; font-weight:bold;}
						.mar{ margin:12px 0 0 12px;}
					#login-lookup-dist p{ color:#b6b6b6; padding:0 0 0 10px; line-height:20px; font-size:13px; clear:both;}
						#login-lookup-dist p span{ color:#de8834; font-weight:bold;}
					.float-lft{ float:left;}
					
					/*---------------------------------------------*/
					#login{background:url(../images/login-lookup-right-border.png) no-repeat right center; height:336px; width:325px;}
						#login h1{ float:left;}
						table{ margin-left:10px;}
						input[type="text"] { background:url(../images/text-field.png) no-repeat; border:0; margin:7px 0 0 8px; width: 251px; height: 26px; padding:4px 0 0 5px}
						.email-pass{color:#b6b6b6; padding:10px 0 0 10px; font-weight:bold;}
						#login-btn{height:36px; margin:12px 0 0 10px;}
							#login-btn img{ float:right; margin-right:20px;}
							.forgot-password a{float:right; margin:5px 30px 0 0 !important; font-size:12px !important; color:#eda762 !important; padding-top:0 !important; text-decoration:none;}
							
				/*---------------------------------------------*/
				#lookup{background:url(../images/login-lookup-right-border.png) no-repeat right 15px; height:336px; width:325px;}
					#cities{ background:#dadada; width:292px; margin:20px auto auto auto; *padding:0;}
						#cities table{ background:#dadada; height:100px; text-align:center; margin:0 10px 10px; }
							#cities table tr td{ color:#575754;padding:9px 10px; width:125px; border:1px solid #b7b7b7; font-size:12px;	}	
						.bg{ background:url(../images/lookup-heading-bg.png) no-repeat; width:300px; height:31px; margin:0 0 0 10px;  padding:10px 0 0 50px;}
						.mrgn{float:right; margin-right:80px; *margin-top:-10px;}
						#cities h2{ color:#FFFFFF; font-size:12px; margin:10px 0 0 0;}
						#usd{ margin:-5px 0 10px 0; height:170px; overflow:auto; *margin:-10px 0 10px 0;}
				
				/*---------------------------------------------*/
				#destination{width:295px;}
					#destination ul{ padding:20px 0 0 10px; *padding:0 0 0 10px;}
						#destination ul li{ background:url(../images/country-bottom-border1.png) no-repeat scroll 25px bottom; padding-bottom:5px; float:left; width:122px; margin:0 15px 5px 0;}
							#destination li a{text-decoration:none; color:#bababa; font-size:10px;padding:7px 0px 1px 25px; }
							#destination li#iran a{background:url(../images/flags/1.png) no-repeat left 5px;}
							#destination li#philippines a{background:url(../images/flags/6.png) no-repeat left 5px;}
							#destination li#uae a{background:url(../images/flags/2.png) no-repeat left 5px;}
							#destination li#canada a{background:url(../images/flags/7.png) no-repeat left 5px;}
							#destination li#india a{background:url(../images/flags/3.png) no-repeat left 5px;}
							#destination li#sri-lanka a{background:url(../images/flags/8.png) no-repeat left 5px;}
							#destination li#turkey a{background:url(../images/flags/4.png) no-repeat left 5px;}
							#destination li#france a{background:url(../images/flags/9.png) no-repeat left 5px;}
							#destination li#united-kingdom a{background:url(../images/flags/5.png) no-repeat left 5px;}
							#destination li#sweden a{background:url(../images/flags/10.png) no-repeat left 5px;}
			
			/*--------------------------footer---------------------------------*/
			#footer{ width:970px; margin:auto; background:url(../images/footer-bg2.png) repeat-x; height:245px; overflow:hidden}
				
				/*---------------------------------------------*/		
				#explore-links{ padding:30px 0 30px 25px; float:left; background:url(../images/footer-right-border.png) no-repeat right 10px; width:600px;}
				#footer	h1{ color:#848484; font-size:28px; text-transform:capitalize;}
				#explore-links ul{ padding:15px 0 0 18px;*padding:0 0 0 18px;}
					#explore-links ul li{ list-style:url(../images/footer-bullet.png);padding:10px 0 0px 5px;text-transform:capitalize; float:left; width:140px; font-size:13px;}
						#explore-links ul li a{ text-decoration:none; color:#8a8a8a;}
				
				/*---------------------------------------------*/						
				#stay-in-touch{ padding:30px 0 0 30px; width:310px; float:left;}
					#logos { margin:20px 0 30px 0;}
					#call-us{ background:url(../images/call-us.png) no-repeat; height:61px;}
						.phone-no{ padding:30px 0 0 10px; color:#9e5028; font-size:24px; font-weight:bold; }
				
				/*---------------------------------------------*/
				#footer-menu-copyright{clear:both;}
					#footer-menu{float:left; *margin-top:20px;}
						#footer-menu ul li{ display:inline !important ; list-style:none !important ; border-right:1px solid #FFFFFF; width:auto; padding:0 20px 0 20px; margin-top:15px; font-size:12px; text-transform:capitalize;}
							#footer-menu ul li a{ color:#ffffff; text-decoration:none; }
					#copyright{ float:right; *margin-top:15px;}
						#copyright p{padding:5px 25px 0; font-size:12px; color:#d2d2d2;}
